@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

:root
{
    --white: #fff;
    --silverClaro: #ffffff4d;
    --silverEscuro: #3b3b3b;
    --purpleClaro: #8D15B7;
    --purpleClaroHover: #b82aec;
    --purpleEscuro:  #630285;
    --purpleDestaque:  #FF00B8;
    --blackSecao: #151515;
    --cinzaForms: #767676;
    --cinzaBackgroundForms: #bdbdbd;
}


/* Elementos prontos */
#descricao
{
    font-size: 1.2rem;
    font-weight: 300;
    margin: 1rem 0rem;
}

.linhaBlock
{
    display: block;
}

.linhaInline
{
    display: inline;
}

#CTA{
    display:  inline-block;
    margin: 0.5em 0em;
    padding: 0.8rem 5rem;
    font-size: 1.3rem;
    font-weight: bold;
    border: 3px solid var(--white);
    border-radius: 15px;
    color: var(--white);
    text-decoration: none;
    transition: 0.25s;

}

#CTA:hover
{
    color: var(--white);
    background: var(--purpleDestaque);
    border: 3px solid var(--purpleDestaque);
}


.secaoBeneficios .cardsBeneficios .card #CTA_CARD{
    display:  inline-block;
    margin: 0.5em 0em;
    padding: 0.8rem 5rem;
    font-size: 1rem;
    font-weight: bold;
    border: 3px solid var(--white);
    border-radius: 15px;
    color: var(--white);
    text-decoration: none;
    transition: 0.25s;
    opacity: 0;
}



/* barra fixa ajuda e suporte */
.flutter
{
    position: fixed;
    left: 87%;
    top: 87%;

    border-radius: 15px;

    background: var(--silverClaro);
    padding: 10px 15px;
}

.flutter .linkflutter
{
    color: var(--white);
    font-size: 2em;
    text-decoration: none;
    list-style: none;
    transition: 0.25s;
   
}

.flutter .linkflutter:hover
{
    color: var(--silverClaro);
}

.popup_desativado
{
    display: none;
}

.corpo_geral
{
    transition: 0.25s;
}

.popup
{
    position: fixed;
    top: 50%;
    left: 35vw;
    right: 35vw;
    z-index: 5;
    
}

.productEspec {
    width: 600px;
    height: auto;
    background-color: white;
    border-radius: 30px;
    padding: 30px;
    position: fixed;
    left: 50%;
    top: 40%;
    margin-left: -300px;
    z-index: 9999;
    display: none;
  }
  
  .productEspec i {
    font-size: 40px;
    position: absolute;
    top: 15px;
    left: 15px;
    color: #3c3c43;
    opacity: 0.5;
  }
 

.popup .boxPopup
{
    
    background: var(--white);
    padding: 0.3em 4em;
    height: 20vh;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

    border-radius: 15px;

    z-index: -2;
}



/*  
Banner (main) principal
-
Junto com menu
*/

.banner {
    width: 100%;
    height: 100vw;
    background: url(./assets/Image/background.png), linear-gradient( var(--purpleClaro), var(--purpleEscuro));
    background-repeat: no-repeat;
    background-position: center;
    background-size: 120%;
    z-index: 0;
}

.banner header {
    background: var(--silverClaro);
}

.banner header nav
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 9vh;
    background: transparent;
}

.banner header nav #logo {
    font-size: 3rem;
    font-weight: 700;
    color: var(--white);
}

.banner header nav #img_logo
{
    width: 100px;
}

header nav .nav-list
{
    display: flex;
}

header nav .nav-list .nav-item
{
    list-style: none;
    margin-left: 30px;
}

header nav .nav-list .nav-item a
{
    text-decoration: none;
    font-size: 1.5rem;
    text-transform: capitalize;
    color: var(--white);
    transition: 0.25s;
}

header nav .nav-list .nav-item #loginUser{
    font-weight: 700;
    margin: 0px 0px 0px 30px;
    text-decoration: solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav .nav-list .nav-item #iconEntrar{
    font-size: 1.6rem;
    margin: 0rem 0.2rem;
}

header nav .nav-list .nav-item a:hover
{
    color: var(--purpleDestaque);
}

.content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80vh;
    padding: 10vh;
}

.content .contentIlustra #imagemIlus
{

    transition: 0.25s;
    cursor: pointer;
    z-index: 0;
}

.content .contentIlustra #imagemIlus:hover
{
    transform: scale(1.2);
}

.content .contentText #tituloPrincipal{
    font-size: 3rem;
    color: var(--white);
}

.content .contentText #descricao
{
    color: var(--white);
}

.content .contentText a:hover
{
    color: var(--silverClaro);
}

.content .contentText .iconRedes
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px 20px;

    padding: 10px 0px;
    font-size: 2rem;
    text-decoration: none;
}

 
/* segunda seção */
.banner .contentSecao 
{
    margin: 4rem 0rem;
}

.banner .contentSecao #tituloSecao 
{
    text-align: center;
    color: var(--white);
}

.banner .contentSecao .FlexContainer 
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;

    padding: 15rem 0rem;
}

.banner .contentSecao .FlexContainer .blocoEmprestimo
{
    background: var(--white);
    width: 50vh;
    border-radius: 15px;
    padding: 5rem 3rem;
}

.banner .contentSecao .FlexContainer .blocoEmprestimo .cardFotos
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    margin: 0rem 0rem 3rem 0rem;
}

.banner .contentSecao .FlexContainer .blocoEmprestimo .cardFotos:nth-child(1)
{
    text-align: center;
} 

.banner .contentSecao .FlexContainer .blocoEmprestimo .cardFotos .img_perfil
{
    width: 10rem;
}


.banner .contentSecao .FlexContainer .blocoEmprestimo p
{
    text-align: center;
    font-size: 1.3rem;
}

.banner .contentSecao .FlexContainer .blocoInvestimento 
{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 30px;
    width: 60vh;
    color: var(--white);
}

.banner .contentSecao .FlexContainer .blocoInvestimento #principal2
{
    font-size: 3rem;
}


/* Secao de Cards */
.secaoBeneficios {
    background: var(--white);
    padding: 3rem;
    width: 100%;
}

.secaoBeneficios > h1
{
    font-size: 3rem;
    text-align: center;
    color: var(--purpleDestaque);
}

.secaoBeneficios .cardsBeneficios
{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 30vh 30vh 30vh 30vh;
    gap: 3rem;
    flex-wrap: wrap;
    margin: 3rem 0rem;
}

.secaoBeneficios .cardsBeneficios .card
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    width: 30vh;
    height: 50vh;
    background: var(--purpleClaro);
    border-radius: 15px;
    padding: 1.1rem;
    text-align: center;
    transition: 0.25s;

    cursor: pointer;
}

.secaoBeneficios .cardsBeneficios .card:hover
{
    background: var(--purpleClaroHover);	

   	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;

}

.secaoBeneficios .cardsBeneficios .card #titulo_card{
    font-size: 3rem;

    color: var(--white);
    opacity: 0;
    transition: 0.25s;
}

.secaoBeneficios .cardsBeneficios .card .icon_card
{
    font-size: 5rem;
    color: var(--white);
    opacity: 0;
    transition: 0.25s;
}

.secaoBeneficios .cardsBeneficios .card:hover .icon_card{
    opacity: 1;
}

.secaoBeneficios .cardsBeneficios .card p
{
    color: var(--white);
    font-weight: 500;
    opacity: 0;
    transition: 0.25s;
}

.secaoBeneficios .cardsBeneficios .card:hover #titulo_card,
.secaoBeneficios .cardsBeneficios .card:hover p,
.secaoBeneficios .cardsBeneficios .card:hover a{
    opacity: 1;
}

.secaoForms
{
    margin-top: 6em;

    display: flex;
    justify-content: center;
    align-items: center;

    background: var(--blackSecao);
    color: var(--white);
    height: 90vh;

    padding: 5rem;
}

.secaoForms .divForms
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

}

.secaoForms .divForms .boxFormulario
{
    background: var(--cinzaForms);

    padding: 2rem;
    width: 70%;
    height: 50%;
    border-radius: 15px;
    text-align: center;
    z-index: 2;
}

.secaoForms .divForms .boxFormulario > h2
{
    font-size: 2.5rem;
}



.secaoForms .divForms .contentForms
{
    width: 80vh;
    color: #fff;
}

.secaoForms .divForms .contentForms > h1
{
    font-size: 6rem;
}

.boxFormulario #formulario #input_set
{
    width: 90%;
    margin-top: 1.3rem;
    
    font-size: 1.2rem;
    border-radius: 40px;
    border: 1px solid var(--cinzaForms);
    background: var(--cinzaBackgroundForms);
    color: var(--silverEscuro);

    outline: none;
    padding: 10px 15px;
}

.btn_cta_forms
{
    background: none;
    border: none;
}


.boxFormulario #formulario .btnBackColor
{
    background: var(--purpleDestaque);
    border: 2px solid var(--purpleDestaque);
    transition: 0.2s;
}

.boxFormulario #formulario .btnBackColor:hover
{
    background: none;
    color: var(--white);
    border: 2px solid var(--white);
    border-radius: 15px;
    text-decoration: none;
   
}

.boxFormulario #formulario .textArea_set
{
    width: 90%;
    margin-top: 1.3rem;
    
    font-size: 1rem;
    border-radius: 20px;
    border: 1px solid var(--cinzaForms);
    background: var(--cinzaBackgroundForms);
    color: var(--silverEscuro);
    resize: none;

    outline: none;
    padding: 15px 25px;
}

.boxFormulario #formulario .select_set
{
    width: 25vh;
    margin-top: 1.3rem;
    
    font-size: 1.2rem;
    border-radius: 5px;
    border: 1px solid var(--cinzaForms);
    background: var(--cinzaBackgroundForms);
    color: var(--silverEscuro);

    outline: none;
    padding: 10px 15px;
}

.boxFormulario #formulario #label_set
{
    font-size: 1.3rem;
    text-align: left;
}


@-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    100% {
      -webkit-transform: scale(1.1);
              transform: scale(1.1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    100% {
      -webkit-transform: scale(1.1);
              transform: scale(1.1);
    }
  }
  
  